<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.remained.silence.acl.mapper.RolePermissionMapper">
    <insert id="insertList" >
        insert into role_permission values
        <foreach collection="permissionIds" item="permissionId" separator=",">
            (null,${roleId},#{permissionId},now(),now(),0)
        </foreach>
    </insert>
</mapper>
